.App {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: gray;
  background: url('/src/weather-img/preview.jpg') no-repeat center center/cover;
  color: white;
}

.container {
  margin: 20px;
  padding: 10px;
  display: flex;
  background-color: rgba(53, 53, 53, 0.6);
  flex-direction: column;
  border-radius: 20px;
  flex-wrap: wrap;
}

.location {
  text-align: center;
  font-size: 50px;
  
}

.weather {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}


.weather h1{
 margin: 0px;
 padding: 0px;
 font-size: 60px;
 font-weight: 100;
}

.extras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 200px;
  background-color: rgba(185, 185, 185, 0.2);
  padding: 5px;
}

.extras h1, h4 {
  margin: 5px;
  font-weight: 100;
}

.search input {
  font-size: 20px;
  border: none;
  margin: 15px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(53, 53, 53, 0.3);
  border: 1px solid white;
  color: white;
}

::placeholder {
  color: white;
}